* {
		text-align: center;
		vertical-align: middle;
		list-style-type: none;
		font-family: Open Sans;
		margin: 0;
}

html {
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	background: black;
  	color: white;
}

ul {
	margin,
	padding: 0;
}

a {
	text-decoration: none;
	color: #ccc;
	cursor: pointer;
}

p {
	margin: 7%;
	font-size: 20px;
}

.head-div {
	background: no-repeat fixed;
	background-size: cover;
	min-height: 100vh;
	min-width: 100vw;
	z-index: 4;
}

.shade {
	position: absolute;
	background-color: rgba(0,0,0,0.6);
	z-index: 5;
	height: 100vh;
	width: 30vw;
}

.catchy {
	margin-top: 10vh;
	padding: 5%;
}

.hours {
	margin-top: 7vh;
}


.hours-ul {
	padding: 0;
	display: none;	
	display: inline-block;
	display: none;
	width: 100vw;
	
}

.hours-day {
	font-style: italic;
	margin-right: 3vw;

}

.hours-span {
	font-style: none;
}


.head-header {
	background: #ccc;
}

.head-img {
	height: 100px;
	width: 275px;
	top: 75vh;
	left: 65vw;
	position: absolute;

	z-index: 5;
}

.fold-div {
	margin: 2%;
}

.nav-div {
	background: rgba(0,0,0,0.6);
	height: 5vh;
	position: absolute;
	width: 100vw;
	z-index: 5;
	top: 0;
	height: 8vh;
}

.head-nav-ul {
	margin-left: 25vw;
}

.head-nav-li {
	display: inline-block;
	margin: 2% 5% 2% 0%;
	font-size: 15px;
}