* {
		text-align: center;
		vertical-align: middle;
		list-style-type: none;
		font-family: Open Sans;
		margin: 0;
}

html {
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	background: black;
  	color: white;
}

ul {
	margin,
	padding: 0;
}

a {
	text-decoration: none;
	color: #ccc;
	cursor: pointer;
}

p {
	margin: 7%;
	font-size: 20px;
}

.head-div {
	background: no-repeat fixed;
	background-size: cover;
	min-height: 100vh;
	min-width: 100vw;
	z-index: 4;
}

.shade {
	position: absolute;
	background-color: rgba(0,0,0,0.8);
	z-index: 5;
	height: 100vh;
	width: 20vw;
}

.shade-two {
	position: absolute;
	background-color: rgba(0,0,0,0.5);
	z-index: 5;
	height: 100vh;
	width: 80vw;
	left: 20vw;
}

.catchy {
	margin-top: 10vh;
	padding: 5%;
}

.hours {
	margin-top: 7vh;
}


.hours-ul {
	padding: 0;
	display: none;	
	display: inline-block;
	display: none;
	width: 100vw;
	
}

.hours-day {
	font-style: italic;
	margin-right: 3vw;

}

.hours-span {
	font-style: none;
}

.coffee-img {
	height: 200px;
	width: 200px;
}

.head-header {
	background: #ccc;
}

.head-img {
	height: 50px;
	width: 125px;
	position: absolute;
	right: 4vw;
	top: 2vh;
	z-index: 10;
}

.fold-div {
	margin: 2%;
}

.head-nav-ul {
	padding: 0;
}

.nav-div {
	margin-top: 15vh;
}


.head-nav-li {
	margin-top: 8vh;
	font-size: 20px;
}